/gateway/target/
/.idea/
/cloudBridges/target
/identity/target
/calendar/target
/config/target
/patients/target
/registry/target
/store/target
/chat/target
/cloudBridges/target/
/rrhh/target/
/report/target

# Maven configuration files with credentials
**/rc-settings.xml
**/.m2/settings.xml



